@import '/fonts/stylesheet.css';
@import '/css/styles/mobail.css';
@import '/css/styles/tablet.css';
@import '/css/styles/desctop.css';

* {
    box-sizing: border-box;
}

body {
    font-family: "TT Lakes", "Arial", sans-serif;
    color: #1B1C21;
    min-width: 320px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

img {
    height: auto;
    max-width: 100%;
}
  
a {
    text-decoration: none;
}

.btn {
    all: unset;
}

.blog-burger__menu{
    background-image: url(/image/burger.svg);
    min-width: 40px;
    min-height: 40px;
}

.blog-freedback__call {
    background-image: url(/image/call.svg);
    min-width: 40px;
    min-height: 40px;
}

.blog-freedback__chat {
    background-image: url(/image/chat.svg);
    min-width: 40px;
    min-height: 40px;
}

.blog-freedback__profile {
    background-image: url(/image/profile.svg);
    min-width: 40px;
    min-height: 40px;
}

.blog-repair__application {
    background-image: url(/image/repair.svg);
    min-width: 40px;
    min-height: 40px;
}

.blog-repair__checkstatus {
    background-image: url(/image/checkstatus.svg);
    min-width: 40px;
    min-height: 40px;
}

.changing-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.blog-burger {
    display: flex;
    align-items: center;
}

.content {
    background-color: #F8F8F8;
}


.blog-title {
    display: flex;
    align-items: center;
}

.blog-title__heading {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.06em;
}

.blog-title::before {
    content: "";
    background-color: #41F6D7;
    width: 3px;
    height: 40px;
    border-radius: 2px;
}

.blog-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.blog-nav__link {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #7E7E82;
    background-color: #F8F8F8;
    padding: 8px 16px;
    background-color: unset;
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    }
    
.blog-nav__link:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    outline: none;
    background-color: #FFFFFF;
}

.text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.blog-info__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    padding-left: 15px;
    color: #1B1C21;
    display: flex;
    align-items: center;
    background-image: url(/image/icon.svg);
    background-repeat: no-repeat;
    background-position-y: center;
}
    

