@media (min-width: 1120px) {

    .header {
        display: none;
    }

    .blog-title {
        padding: 40px 32px 8px 0;
    }

    .blog-title__heading {
        padding-left: 30px;
        padding-right: 450px;
    }

    .blog-desctop span {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: right;
        padding-right: 8px;
    }

    .blog-desctop {
        display: flex;
        align-items: center;
    }

    .blog-repair__application {
        margin-right: 32px; 
    }

    .blog-nav__list {
        flex-wrap: wrap;
        padding: 0 25px 16px 34px;
    }

    .blog-info {
        display: flex;
        flex-wrap: wrap;
        gap: 36px;
        padding-left: 34px;
        padding-right: 29px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .blog-info__image {
        display: flex;
        flex: 1;
    }

    .blog-info__image-cps {
        border-radius: 6px;
    }

    .blog-info__link {
        margin-bottom: 149px;
    }
}